<div class="well well-sm"><h4>Most Social</h4></div>
<ol>
 <% CommentSorter.new.sort_by_most_comments(Student.all).each do |student| %>
  <li><%= student.name %> | <%= student.comments.count %> comments</li>
 <% end %>
</ol>