<h3>Here is your account!</h3>

<h3><%=@instructor.name%></h3>

<h3> Your Cohorts </h3>
<ul>
<%@instructor.cohorts.each do |cohort| %>
 <li><%=link_to cohort.name, cohort_path(cohort) %></li>
<%end%>
</ul>


<h3>Here are all the Assignments you assigned</h3>
<ul>
<li><%@instructor.assignments.each do | assignment|%></li>
<li><%=link_to assignment.name, assignment_path(assignment) %></li>
<%end%>
</ul>