// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea#assignment_description {
  max-width: 100%;
}

.new_assignment {
  max-height: auto;
  margin-bottom: 10px;
}
