body {
  // padding-top: 40px;
  // padding-bottom: 40px;
  background-color: #eee;
  font-family: 'Cinzel', serif;
}

h1 {
  text-align: center;
}

.navbar-inverse {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #275C5C;
    text-decoration: none;
}

.navbar-inverse .navbar-brand {
    color: #275C5C;
}

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-container #instructor_login {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
  padding-right: 5%;
}

.flex-container #student_login {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #BAE2E2;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container > .text-muted {
  font-size: 0.2em;
  text-align: right;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
